{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
<div class="page">
    {{!-- uppartsmallline with ava --}}
    {{!-- <header class="header">
        <button class="button">
            <img src="/svg/back.png" width="24px" height="24px" alt="">
        </button>
        <button class="button">
            <img src="/svg/ava.png" width="24px" height="24px" alt="">
        </button>
    </header> --}}
    {{!-- next part with message --}}
    {{!-- <h1 class="title">My BloG</h1> --}}
    {{!-- <main class="post__list">
        <div class="post__button">
            <div class="post__header">
                <div class="post__category-list">
                    <span class="post__category post__category--1">Import</span>
                    <span class="post__category post__category--2">New</span>
                </div>
                <span class="post__date">25.01</span>
            </div>
            <p class="post__info">Go to hell planner, and prepare to presantation like Jobs</p>
        </div>

        <div class="post__button post--viewed">
            <div class="post__header">
                <div class="post__category-list">
                    <span class="post__category post__category--1">Import</span>
                    <div>
                        <span class="post__date">24.01</span>
                    </div>
                    <p class="post__info">We try to finde more like-minded people</p>
                </div>
    </main> --}}
</div>


{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}